body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif; }

a {
  text-decoration: none;
  font-size: 14px;
  color: black; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

select {
  border: none;
  outline: none;
  text-transform: uppercase; }

button {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  cursor: pointer; }

h1, h2, h3 {
  font-family: "Readex Pro", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 58px; }

h2 {
  font-size: 42px; }

h3 {
  font-size: 32px; }

p {
  margin: 0;
  padding: 0;
  font-size: 16px; }

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5px;
  box-sizing: border-box; }

header {
  padding: 30px 0;
  margin-bottom: 28px; }

.header_container {
  display: flex;
  justify-content: space-between; }
  .header_container ul {
    display: flex; }
  .header_container a {
    text-transform: uppercase; }

.header_nav_bar li {
  padding: 0 33px 0 0; }
  .header_nav_bar li:last-of-type {
    padding: 0; }

.header_buttons_block {
  display: flex; }
  .header_buttons_block li {
    padding: 0 13px 0 0; }
    .header_buttons_block li:last-of-type {
      padding: 0; }

.burger {
  display: none;
  width: 35px;
  height: 23px;
  margin-left: 13px;
  position: relative; }
  .burger span, .burger:after, .burger:before {
    content: "";
    height: 3px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 20px;
    width: 100%;
    display: block;
    background-color: black;
    position: absolute; }
  .burger span {
    top: 10px; }
  .burger:after {
    bottom: 0px; }
  .burger:before {
    top: 0px; }

.promo_container {
  position: relative;
  display: flex;
  background-color: #DCE5E2; }

.p_arrow {
  position: absolute;
  top: 48%;
  padding: 0 18px; }
  .p_arrow:last-of-type {
    right: 0; }

.promo_text-content {
  padding: 0 56px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .promo_text-content p {
    padding: 20px 0 20px 0; }

.promo_text-content_link {
  padding: 14px 0; }
  .promo_text-content_link a {
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 14px 53px; }

.categories, .items, .best, .ideas, .thing {
  margin: 75px 0 0 0; }

.categories h3, .items h3 {
  font-size: 32px; }

.categories_container {
  text-align: center; }

.title-content {
  text-align: center;
  padding: 0 0 56px 0; }
  .title-content p {
    width: 45%;
    font-family: "Readex Pro", sans-serif;
    padding-top: 9px;
    margin: 0 auto;
    font-size: 14px; }

.categories_blocks {
  display: flex; }

.cat_blocks_horiz {
  display: flex; }

.cat_block_horiz {
  height: 792px;
  width: 312px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.cat_block_horiz-text {
  width: 80%;
  margin: 0 auto; }

.cat_block_horiz_1 {
  margin: 0 16px; }

.cat_block {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4); }

.cat_blocks_vert {
  width: 54%; }

.cat_block_vert-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right; }

.cat_block_horiz_1_text {
  padding-top: 42px; }

.cat_block_horiz_2_text {
  padding-bottom: 42px; }

.cat_block_vert {
  padding: 0 42px;
  width: 86%; }

.cat_block_vert_2 {
  margin-top: 72px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.items_list {
  display: flex;
  justify-content: space-between; }

.items_item {
  width: 20%;
  height: 45ex;
  margin-bottom: 16px; }
  .items_item h3 {
    font-size: 22px; }
  .items_item p {
    font-size: 14px;
    padding: 9px 0 8px 0; }
  .items_item p.item_info {
    height: 6ex; }
  .items_item p.item_price {
    font-size: 18px; }

.item_text-content {
  padding-top: 33px; }

.best_list_block ul {
  display: flex;
  justify-content: space-between;
  text-align: center; }

.best_list_item {
  background: #F8F9FA;
  padding: 41px 0 0 0;
  width: 32%;
  border-radius: 16px; }

.best_list_item_text-content div {
  margin: 30px 0; }
.best_list_item_text-content p {
  font-family: "Readex Pro", sans-serif;
  font-size: 13px; }

.ideas_content {
  display: flex;
  justify-content: space-between; }

.ideas_img {
  width: 50%; }
  .ideas_img img {
    width: 100%; }

.ideas_text-content {
  width: 48%; }
  .ideas_text-content p {
    width: 90%;
    font-size: 24px;
    margin-top: 23px; }

input {
  border: none;
  box-sizing: border-box;
  outline: none;
  border-radius: 100px; }
  input::placeholder {
    font-size: 14px;
    color: black; }

.search_form {
  margin: 0 auto;
  width: 100%;
  position: relative;
  height: 58px;
  max-width: 650px;
  display: flex;
  background-color: #F8F9FA;
  border: 1px solid #C5C5C5;
  border-radius: 100px;
  box-sizing: border-box; }
  .search_form button {
    position: absolute;
    left: 17px;
    top: 14px; }
  .search_form input {
    background-color: #F8F9FA;
    margin-left: 65px;
    width: 85%;
    outline: none; }

.thing_search_block {
  margin: 0 auto; }

.thing_search-list {
  display: flex;
  margin: 0 auto;
  margin-top: 18px;
  width: 40%;
  flex-wrap: wrap;
  justify-content: center; }
  .thing_search-list li {
    font-size: 14px;
    margin-left: 7px;
    margin-bottom: 7px;
    text-align: center;
    padding: 12px 22px;
    border: 1px solid #C5C5C5;
    border-radius: 100px; }

.thing_sign {
  margin: 60px auto 0 auto;
  text-align: center;
  width: 65%;
  background-color: #DCE5E2;
  padding: 55px 0 43px 0; }
  .thing_sign p {
    width: 100%;
    font-size: 16px; }

.thing_sign_title {
  padding-bottom: 14px; }

.thing_sign_form_block {
  width: 100%;
  margin: 14px auto 0 auto; }

.thing_sign_form {
  margin: 0 auto;
  position: relative;
  max-width: 400px;
  width: 73%;
  height: 50px;
  display: flex;
  border: 1px solid #000;
  border-radius: 50px; }
  .thing_sign_form input {
    margin-left: 32px;
    background: none;
    border: none;
    width: 64.5%; }
  .thing_sign_form button {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    font-size: 14px;
    height: 50px;
    padding: 0 32px;
    background-color: black;
    border-radius: 0 50px 50px 0; }

@media(max-width: 1384px) {
  .categories_blocks {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: center; }

  .cat_blocks_vert {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }

  .cat_block_vert {
    width: 60%; }

  .cat_blocks_horiz {
    margin-top: 42px;
    justify-content: center;
    width: 100%; }

  .cat_block_horiz {
    margin-left: 0;
    padding: 0; } }
@media(max-width: 1217px) {
  .promo_container {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-top: 30px; }

  .arrow_left {
    left: 0; }

  .items_list_block {
    text-align: center; }

  .items_list {
    flex-wrap: wrap; }

  .items_item {
    width: 50%; }
    .items_item p.item_info {
      margin: 0 auto;
      width: 60%; } }
@media(max-width: 1117px) {
  .best_list_block ul {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 78%;
    margin: 0 auto; }

  .best_list_item {
    width: 49%; }
    .best_list_item:first-of-type {
      width: 100%;
      margin-bottom: 20px; }

  .ideas_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }

  .ideas_img {
    width: 80%; }

  .ideas_text-content {
    text-align: center;
    width: 100%; }
    .ideas_text-content p {
      width: 100%; }

  .thing_search-list {
    width: 60%; } }
@media(max-width: 935px) {
  .title-content p {
    width: 80%; }

  .categories_blocks img {
    width: 100%; }

  .cat_blocks_horiz {
    flex-wrap: wrap;
    width: 69%;
    justify-content: space-between; }

  .cat_block_horiz {
    margin: 0 0 10px 0;
    padding: 50px 0;
    width: 48%;
    height: 100%; }

  .best_list_item {
    width: 100%;
    margin-bottom: 20px; }

  .search_form {
    width: 100%; } }
@media(max-width: 747px) {
  .burger {
    display: block; }

  .header_nav {
    display: none; }

  .promo_img img {
    width: 100%; }

  .categories_blocks {
    width: 100%; }

  .items_item {
    width: 100%; }
    .items_item p.item_info {
      margin: 0 auto;
      width: 70%; }

  .thing_search-list {
    width: 100%; } }
@media(max-width: 570px) {
  h1 {
    font-size: 32px; }

  h2 {
    font-size: 26px; }

  .promo_text-content_link a {
    font-size: 16px;
    padding: 12px 50px; }

  .categories_blocks h3 {
    font-size: 24px; }
  .categories_blocks p {
    font-size: 14px; }

  .p_arrow {
    top: 44%; }

  .promo_text-content {
    padding: 0 20px; }

  .best_list_item img {
    width: 60%; }

  .ideas_text-content p {
    width: 90%;
    margin: 18px auto 0 auto;
    font-size: 18px; }

  .thing_sign {
    width: 100%; } }
@media(max-width: 375px) {
  .promo_text-content {
    padding: 0 7px; }

  .p_arrow {
    top: 38.5%; }

  .cat_blocks_horiz {
    width: 82%;
    justify-content: space-between; }

  .cat_block_horiz {
    width: 47%;
    height: 100%;
    margin: 0;
    padding: 0; }

  .cat_block_horiz_1 {
    padding-bottom: 10px; } }

/*# sourceMappingURL=styles.css.map */
