body
	margin: 0
	padding: 0
	font-family: 'Inter', sans-serif
a
	text-decoration: none
	font-size: 14px
	color: black
ul
	margin: 0
	padding: 0
	list-style-type: none
select
	border: none
	outline: none
	text-transform: uppercase
button
	margin: 0
	padding: 0
	outline: none
	border: none
	background: none
h1,h2,h3
	font-family: 'Readex Pro', sans-serif
	font-weight: 500
	margin: 0
	padding: 0
h1
	font-size: 58px
h2
	font-size: 42px
h3
	font-size: 32px
p
	margin: 0
	padding: 0
	font-size: 16px
.container
	max-width: 1400px
	width: 100%
	margin: 0 auto
	padding: 0 5px
	box-sizing: border-box
header
	padding: 30px 0
	margin-bottom: 28px
.header_container
	display: flex
	justify-content: space-between
	ul
		display: flex
	a
		text-transform: uppercase
.header_nav_bar
	li
		padding: 0 33px 0 0
		&:last-of-type
			padding: 0
.header_buttons_block
	display: flex
	li
		padding: 0 13px 0 0
		&:last-of-type
			padding: 0
.burger
	display: none
	width: 35px
	height: 23px
	margin-left: 13px
	position: relative
	span,&:after,&:before
		content: ''
		height: 3px
		box-sizing: border-box
		border: 1px solid #000
		border-radius: 20px
		width: 100%
		display: block
		background-color: black
		position: absolute
	span
		top: 10px
	&:after
		bottom: 0px
	&:before
		top: 0px
.promo_container
	position: relative
	display: flex
	background-color: #DCE5E2
.p_arrow
	position: absolute
	top: 48%
	padding: 0 18px
	&:last-of-type
		right: 0
.promo_text-content
	padding: 0 56px
	display: flex
	flex-direction: column
	justify-content: center
	p
		padding: 20px 0 20px 0
.promo_text-content_link
	padding: 14px 0
	a
		font-size: 18px
		border: 1px solid #000
		border-radius: 30px
		padding: 14px 53px
.categories,.items
	margin: 75px 0 0 0
	h3
		font-size: 32px
.categories_container
	text-align: center
.text-content
	text-align: center
	p
		width: 45%
		font-family: 'Readex Pro', sans-serif
		padding-top: 9px
		margin: 0 auto
		font-size: 14px
	margin: 0 auto
.categories_blocks
	margin-top: 56px
	display: flex
.cat_blocks_horiz
	display: flex
.cat_block_horiz
	height: 792px
	width: 312px
	display: flex
	flex-direction: column
	justify-content: center
.cat_block_horiz-text
	width: 80%
	margin: 0 auto
.cat_block_horiz_1
	margin: 0 16px
.cat_block
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4)
.cat_blocks_vert
	width: 54%
.cat_block_vert-text
	display: flex
	flex-direction: column
	align-items: flex-end
	text-align: right
.cat_block_horiz_1_text
	padding-top: 42px
.cat_block_horiz_2_text
	padding-bottom: 42px
.cat_block_vert
	padding: 0 42px
	width: 86%
.cat_block_vert_2
	margin-top: 72px
	display: flex
	justify-content: flex-end
	align-items: center
.items_list
	display: flex
	justify-content: space-between
.items_item
	width: 20%
	height: 39.5ex
	margin-top: 56px
	h3
		font-size: 22px
	p
		font-size: 14px
		padding: 9px 0 8px 0
	p.item_info
		height: 6ex
	p.item_price
		font-size: 18px
.item_text-content
	padding-top: 33px 

@media(max-width: 1384px)
	.categories_blocks
		flex-wrap: wrap
		justify-content: center
		display: flex
		align-items: flex-start
		width: 100%
		justify-content: center
	.cat_blocks_vert
		width: 100%
		display: flex
		flex-direction: column
		align-items: center
	.cat_block_vert
		width: 60%
	.cat_blocks_horiz
		margin-top: 42px
		justify-content: center
		width: 100%
	.cat_block_horiz
		margin-left: 0
		padding: 0
@media(max-width: 1217px)
	.promo_container
		flex-wrap: wrap
		text-align: center
		justify-content: center
		padding-top: 30px
	.arrow_left
		left: 0
	.items_list_block
		text-align: center
	.items_list
		flex-wrap: wrap
	.items_item
		width: 50%
		p.item_info
			margin: 0 auto
			width: 60%

@media(max-width: 935px)
	.text-content
		p
			width: 80%
	.categories_blocks
		img
			width: 100%
	.cat_blocks_horiz
		flex-wrap: wrap
		width: 69%
		justify-content: space-between
	.cat_block_horiz
		margin: 0 0 10px 0
		padding: 50px 0
		width: 48%
		height: 100%
		
@media(max-width: 747px)
	.burger
		display: block
	.header_nav
		display: none
	.promo_img
		img
			width: 100%
	.categories_blocks
		width: 100%
	.items_item
		width: 100%
		p.item_info
			margin: 0 auto
			width: 70%

@media(max-width: 570px)
	h1
		font-size: 32px
	h2
		font-size: 26px
	h3
		font-size: 10px
	.promo_text-content_link
		a
			font-size: 16px
			padding: 12px 50px
	.categories_blocks
		h3
			font-size: 24px
		p
			font-size: 14px
	.p_arrow
		top: 44%
@media(max-width: 375px)
	.promo_text-content
		padding: 0 7px
	.p_arrow
		top: 38.5%
	.text-content
		width: 80%
		p
			width: 100%
	.cat_blocks_horiz
		width: 82%
		justify-content: space-between
	.cat_block_horiz
		width: 47%
		height: 100%
		margin: 0
		padding: 0
	.cat_block_horiz_1
		padding-bottom: 10px

